.table-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.fl-table {
    table-layout: fixed;
    display: block;
    border-radius: 1rem 1rem 0 0;
    font-weight: normal;
    border-collapse: collapse;
    width: fit-content;
    max-width: 100%;
    max-height: 80vh;
    white-space: nowrap;
    overflow-y: auto;
    overflow-x: auto;
}

/* width */
::-webkit-scrollbar {
    width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 1rem;
}

::-webkit-scrollbar-corner{
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.fl-table td, .fl-table th {
    text-align: left;
    padding: 0.5rem;
}

.fl-table td {
    font-size: 1.2rem;
}

.fl-table thead th {
    color: #ECB365;
    background: #324960;
    font-size: 1.5rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /*z-index: 1; // any positive value, layer order is global*/
}

.fl-table thead th:nth-child(odd) {
    background: #324960;
}

.fl-table tr {
    color: whitesmoke;
}

.fl-table tr:nth-child(even) {
    background-color: #2a2424;
}

.fl-table tr:nth-child(odd) {
    background-color: #151414;
}

tr:hover {
    background-color: #64701a !important;
}

.fl-id {
    width: 5%;
}

.fl-icon {
    text-align: center !important;
    width: 5%;
}

.fl-icon a {
    color: rgb(232, 230, 227) !important;
}

a {
    text-decoration: none;
    color: whitesmoke;
}